.navbar{ 
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;

  padding-bottom: 160px;
}

.stats{
  margin: 2px 0px;

  display: flex;
  align-items: center;
  width: 20ch;

  padding-top: 0px;
  
  font-weight: bold;
}

.stats:hover{
  cursor: pointer;
  background-color: white;
}

.date{
  margin-right: auto;
  margin-left: auto;
}

.shoppingList{
  list-style-type: none;
  
  width: 20ch;
  padding: 4px 8px;

  background-color: white;
  border: 1px solid black;
}

.shoppingList:hover{
  cursor: pointer;
}

.shoppingList:active{
  background-color: antiquewhite;
}

